

/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }
	
*/


/* general styles */

/* Web page background */

body {
  background-color: #095256;
  margin: 0;
  background-image: url("images/ferns.jpeg");
  background-size: cover;
}

/* name / logo */

.logo {
  font-size: 40px;
  text-align: center;
  color: white;
  height: 100px;
  background-color: #095256;
  border-bottom: 2px solid black;
  line-height: 2em;
  background-image: url ("images/ferns.jpeg");
  margin: 5%;
}

header h1, h2, h3, h4 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 25px;
  padding: 5%;
  color: white ;
}

/* software developer */


/* page break */

hr {
  height: 20px;
  background-color: black;
  border: #f26df9;
  margin: 10%;
}

/* links / style */ 

a {
  font-weight: 500px;
  text-decoration: white;
}

a:link { color: blue }
a:visited { color: black }
a:hover { color: red }
a:active { color: pink }

/* buttons for links */

.btn {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: white;
  border-color: #2e6da4;
}

/* copywrite / background image credit */

footer p {
  text-align: center;
  font-size: 15px;
  background-color: #095256;
  margin: 0;
  padding: 1%;
}

/* about me / text styling */

section {
  color: white;
  font-size: 25px;
  line-height: 1em;
  padding: 0 25%;
  margin: 80 0;
  font-style: italic;
  font-family: Cambria, serif;
}

main h2 {
  font-size: 25px;
  text-align:center;
  color: white;
  line-height: 1em;
  margin: 10%;
  padding: 0 0 15%;
}

/* image dimentions */

img {
  width: 100%;	
  border-radius: 8px;
  padding: 0 0 15%;
}









