body {
  background-color: #2f3061;
  margin: 0;
  background-image: url("images/code.jpg")
}

header h1 {
  text-align: center;
  color: black;
  height: 100px;
  background-color: #03294e;
  border-bottom: 2px solid black;
  line-height: 2em;
  background-image: url ("images/code.jpg");
  margin: 0;
}

header h1 {
  text-align: center;
  font-size: 40px;
  padding: 5%;
}

h2 {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  color: white;
  line-height: 1 em;
}


hr {
  height: 20px;
  background-color: black;
  border: #f26df9;
}

a {
  font-weight: 500px;
  text-decoration: white;
}

a:link { color: blue }
a:visited { color: black }
a:hover { color: red }
a:active { color: pink }
a:hover {
	text-decoration: underline;
}

.btn {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}



footer p {
  text-align: center;
  font-size: 15px;
  background-color: #3c6997;
  margin: 0;
}

article {
  color: white;
  font-size: 25px;
  line-height: 1em;
  padding: 0 25%;
  margin: 80 0;
  font-style: oblique;
}

main h2 {
  font-size: 30px;
  text-align:center;
  color: white;
  line-height: 3em;
  padding: 1em;
}

img {
  width: 100%;	
  border-radius: 8px;
  border: 1px solid #094074;
}













